@use "../base/mixins";
@use "../base/variables";

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: #e5e5e5;
}
.book-cleaning {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px black solid;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  flex-grow: 1;
  .form-container {
    display: flex;
    flex-direction: column;
    border: solid green 2px;
    width: 100vw;
    flex-grow: 1;
  }

  .input,
  .label {
    column-gap: 20px;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    border-radius: 5px;
    &.input {
      height: 30px;
    }
  }
  .mini-input {
    width: 20%;
    flex-direction: row;
    height: 30px;
    border-radius: 5px;
  }
}
