@use "../base/mixins";
@use "../base/variables";

.bookings {
  background-color: #e5e5e5;
  text-align: center;
  header {
    text-align: center;
    p {
      display: inline;
      margin: 1%;
    }
  }
  .heading {
    .mb {
      @include mixins.desktop() {
        margin-bottom: 2%;
      }
    }
  }
  .booking-content {
    @include mixins.desktop() {
      // display: flex;
      width: 40%;
      min-height: 300px;
      margin: 0 auto;
      display: flex;
    }

    .bi {
      font-size: 32px;
    }
    .infoCont {
      display: flex;
      flex-direction: column;
      margin-top: 2%;
      @include mixins.desktop() {
        //flex-basis: 100px;
        //height: 100px;
        flex: 1;
        border-right: 2px solid black;
      }

      .cleaner {
        @include mixins.desktop() {
          margin-top: 10%;
        }
      }
      .time {
        //line-height: 0%;
        margin-bottom: 8%;
        margin-top: 4%;
        @include mixins.desktop() {
          margin-bottom: 14%;
        }
        .initial {
          @include mixins.desktop() {
            display: initial;
          }
        }
        .bi {
          @include mixins.desktop() {
            display: block;
          }
        }
      }
      .location {
        //line-height: 0%;
        margin-bottom: 6%;

        @include mixins.desktop() {
          line-height: 0%;
          margin-bottom: 8%;
        }
        .initial {
          @include mixins.desktop() {
            display: initial;
          }
        }
        .bi {
          @include mixins.desktop() {
            display: block;
            margin-bottom: 4%;
          }
        }
        .mt {
          @include mixins.desktop() {
            margin-bottom: 10%;
          }
        }
      }
    }

    .btnContainer {
      display: flex;
      flex-direction: column;
      @include mixins.desktop() {
        //flex-basis: 100px;
        //height: 100px;
        flex: 1;
      }
      .btn {
        background-color: white;
        border: 1px solid black;
        width: 220px;
        height: 50px;
        border-radius: 10px;
        margin: 2%;
        @include mixins.desktop() {
          margin: 10%;
        }
      }
    }
  }
}
