@use "../base/variables";

@mixin desktop() {
  @media screen and (min-width: 768px) {
    @content;
  }
}

.edit-bookings {
  display: flex;
  flex-direction: column;
  text-align: center;

  .navigation-btn {
    @include desktop() {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }

    .back-container {
      @include desktop() {
        flex-basis: 100%;
      }
    }
  }

  .btn {
    background-color: white;
    border: 1px solid black;
    width: 220px;
    height: 50px;
    border-radius: 10px;
    margin: 2%;
  }
}
