$color-dark: #202125;
$color-blue: #28b3d9;
$color-light-blue: #bee8f4;
$color-green: #0a9396;
$color-beige: #e7e5de;

$border: 2px solid $color-dark;
$border-radius-sm: 5px;
$border-radius-lg: 10px;
$border-radius-round: 999px;
